body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
    text-align: center;
}

header {
    background: #000;
    color: #fff;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: top 0.3s;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #000;
    padding: 0.5em 0;
    position: relative;
    z-index: 1001;
}

header nav ul li {
    margin: 0 1em;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.header-content {
    margin-top: 2em;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0.5em 0;
}

header p {
    font-style: italic;
    margin: 0.5em 0;
}

main {
    padding: 2em 0;
    padding-top: 7em;
}

.section {
    margin: 2em 0;
    padding: 1em 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    color: #444;
    border-bottom: 2px solid #444;
    display: inline-block;
    margin-bottom: 1em;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item {
    margin: 1em;
    flex: 1 1 calc(33.333% - 2em);
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
}

.portfolio-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.social-links a {
    color: #333;
    margin: 0 0.5em;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #0073e6;
}

footer {
    background: #000;
    color: #fff;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    .portfolio-item {
        flex: 1 1 calc(50% - 2em);
    }
}

@media (max-width: 600px) {
    .portfolio-items {
        flex-direction: column;
        padding: 0;
    }

    .portfolio-item {
        flex: 1 1 100%;
        margin: 1em 0;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        display: block;
        margin: 0.5em 0;
    }
}

.swiper-container {
    width: 100%;
    height: 70vh; /* Ajuste en la altura de la galería */
    margin-top: 2em;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; /* Aumento en el radio de borde */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.swiper-button-next, .swiper-button-prev {
    color: #fff; /* Cambio en el color de los botones de navegación */
    font-size: 1.5em; /* Ajuste en el tamaño de los botones de navegación */
}
