body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 10px;
    background-color: #35393d;
    color: #fff;
}

header .logo {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

header img {
    animation: zoomIn 2s ease-in-out forwards;
}


nav {
    text-align: center;
    background-color: #35393d;
}

nav ul li {
    text-align: center;
    margin: 2px 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 2px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

h1 {
    margin: 20px 0 0 0;
    font-size: 2em;
}

.main-title {
    text-align: center; /* Centra el texto horizontalmente */
    margin-top: 20px; /* Espacio superior */
    color: #333; /* Color del texto */
    font-size: 2em; /* Tamaño de fuente */
    margin-bottom: 20px;
}

.mid-title {
    text-align: center; /* Centra el texto horizontalmente */
    margin-top: 20px; /* Espacio superior */
    color: #333; /* Color del texto */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.featured-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
}

.main-images {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.main-images2 {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.image-container {
    position: relative;
    max-width: 300px;
    max-height: 530px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
.image-container2 {
    position: relative;
    max-width: 500px;
    max-height: 500px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}


.image-container img {
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    object-fit: cover;
    filter: grayscale(100%);
    transition: transform 0.3s ease;
}

.image-container img.colored {
    justify-content: center;
    text-align: center;
    filter: none;
}

.image-container:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
    transition: background 0.3s ease;
}

.image-container:hover .overlay {
    background: rgba(0, 0, 0, 0.75);
}

#sobre-mi {
    max-width: 800px;
    text-align: justify;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#contacto {
    max-width: 800px;
    text-align: center;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

footer {
    background-color: #262b30;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer .social-icons {
    margin-top: 10px;
}

footer .social-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: #ddd;
}

/* Establece un máximo ancho para la galería */
.gallery {
    display: grid;
    gap: 20px; /* Espacio entre las imágenes */
    justify-items: center; /* Centra las imágenes horizontalmente */
}

.gallery .special-image {
    grid-column: span 4; /* Ocupa dos columnas */
    align-self: center; /* Centra verticalmente */
}

.gallery .normal-image {
    grid-column: span 2; /* Ocupa dos columnas */
    align-self: center; /* Centra verticalmente */
}

/* Establece un máximo ancho para las imágenes */
.gallery img {
    max-width: 90%; /* Ajusta el tamaño máximo según sea necesario */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    display: block; /* Asegura que las imágenes no tengan espacios en blanco alrededor */
}


/* Estilos específicos para pantallas más pequeñas (por ejemplo, tablets y móviles) */
@media (max-width: 480px) {
    .gallery .normal-image {
        grid-column: span 4; /* Ocupa dos columnas */
        align-self: center; /* Centra verticalmente */
    }

    .gallery .special-image {
        max-width: 100%;
        grid-column: span 4; /* Ocupa dos columnas */
        align-self: center; /* Centra verticalmente */
    }
}

/* Ajustes específicos para mantener las proporciones de maternidad3.jpg */
#imagen-maternidad3 {
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 300px; /* Ajusta este valor según el tamaño que desees */
    display: block;
    margin: 0 auto; /* Centrar horizontalmente */
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .image-container {
        width: 95%; /* Para 4 columnas en pantallas medianas */
    }
}

@media (max-width: 992px) {
    .image-container {
        width: 90%; /* Para 3 columnas en tabletas */
    }
}

@media (max-width: 768px) {
    .image-container {
        width: 100%; /* Para 2 columnas en dispositivos móviles */
    }
}

@media (max-width: 480px) {
    .image-container {
        width: 100%; /* Una columna completa en dispositivos muy pequeños */
    }
}

@media (max-width: 575px) {
    .me-4 {
       margin-left: 7%;
    }
}

@media (max-width: 480px) {
    .me-4 {
        margin-left: 7%;
    }
}

button {
    background-color: #35393d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #262b30;
}

.paquetes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 1000px;
    width: 100%;
}

.paquete {
    text-align: left;
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 100%;
}

.paquete:hover {
    transform: scale(1.05);
}

.formulario-reserva {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    max-width: 600px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    font-weight: bold;
}

form input[type="text"],
form input[type="tel"],
form input[type="date"] {
    padding: 10px;
    border: 1px solid #ddd;
    width: 100%;
}

form button {
    background-color: #35393d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #262b30;
}

#paquetes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.paquete {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    flex: 1;
    max-width: 45%;
    text-align: center;
}

.paquete:hover {
    background-color: #e0e0e0;
}

.paquete.seleccionado {
    background-color: #d1e7dd;
    border-color: #0f5132;
}

#paquetes-leyenda {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    background-color: #35393d;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #262b30;
}
